*{
    background-color:grey;
}
body{
    margin: 0;
    
    border:  blue 2px solid;
    border-top-color:  black;
    border-bottom-width: 5px;
    
    
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color:red ;
}
p::first-letter{
    font-size: 26px;
    color: green;
    
}
p{
    
    max-width: 700px;
    min-width: 300px;
    width: 100%;
    min-height: 350px;
}
