*{
    background-color:grey;
}
body{
    margin: 0;
    
    border:  blue 2px solid;
    border-top-color:  black;
    border-bottom-width: 5px;
    
    
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color:red ;
}
p::first-letter{
    font-size: 26px;
    color: green;
    
}

.sup{
    padding: 50px;
    margin-top: 50px;
    padding-left: 10px;
}
.up{
    outline: 2px solid black;
}
